
  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Cloud API</a></logo>
  
  <!-- Collapsible content -->
  <links>
  
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
     <li class="nav-item" [routerLinkActive]="['active']">
         <a [routerLink]="['/Home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
            <a [routerLink]="['/FindByPrefix']" class="nav-link waves-light" mdbRippleRadius>FindByPrefix</a>
        </li>
     <li class="nav-item" [routerLinkActive]="['active']">
         <a [routerLink]="['/FindById']" class="nav-link waves-light" mdbRippleRadius>FindById</a>
     </li>
     
  </ul>
  <!-- Links -->
  
  </links>
  <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  