<div class="container">
  <div class="row">
   
    <div class="col">
    </div>
    
    <div class="col-6">
      
      <div class="md-form">
        <input mdbInputDirective type="text" name="text" [(ngModel)]="inCountry" id="form1" class="form-control">
        <label for="form1" class="">Find country by name or prefix</label>
      </div>
      <br>
      <button type="button" class="btn btn-outline-primary" mdbWavesEffect (click)="FindCountry(inCountry)">Find</button>
      
      <div *ngIf = "result">
        <div *ngIf = "data">
          <ul class="list-group" *ngFor = "let country of data">
            
            <li class="list-group-item">Code: {{country.code}}</li>
            
            <li class="list-group-item">CurrencyCodes: {{country.currencyCodes}}</li>
            
            <li class="list-group-item" (click)="OnSelect(country.wikiDataId)" >name: {{country.name}}</li>
            
            <li class="list-group-item" (click)="OnSelect(country.wikiDataId)" >wikiDataID: {{country.wikiDataId}}</li>
            <br>   
          </ul> 
        </div>
        <br>
        <!--Pagination-->
<nav aria-label="pagination example">
    <ul class="pagination pg-blue">

      <!-- eerste -->
        <li class="page-item " (click) =  "GetFirst()"  >
            <a class="page-link"  >
                First
            </a>
        </li>

        <!--Arrow left-->
        <li class="page-item " (click) = "getPrev()">
            <a class="page-link"  aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        <!-- next -->
        <li class="page-item " (click) = "getNext()" >
            <a class="page-link"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <!-- laatste -->
        <li class="page-item " (click) = "getLast()" >
            <a class="page-link" >
                <span class="sr-only">Last</span>
                Last
            </a>
        </li>
    </ul>
</nav>
      </div>
      
    </div>
    
    <div class="col">
    </div>
    
  </div>
  
</div>


