<div class="media">
        <img class="d-flex mr-3" src="https://s3.amazonaws.com/mashape-production-logos/apis/596a5c70e4b03e024df91b11_medium" alt="API: geoDB">
        <div class="media-body">
            <h5 class="mt-0 font-weight-bold">CountryFinder</h5>
            Met deze applicatie kan je de informaties van een land vinden. <br>
            <br>
            FindByPrefix: via deze pagina kan je een land vinden via de Prefix(bv: Fr) of de naam van een land(bv:Frankrijk). Als je op de naam of de wikiDataID klikt, dan krijg je meer details van het land. Op deze pagina worden verschillende functionaliteiten van REST API toegepast, zoals Hypermedia links, paging, search en opvragen van een resource via de ID... 
            <br>
            <br>
            CountryDetail: op deze pagina kan je de details vinden van een land via ID(bv:Q142 van frankrijk).
            
        </div>
    </div>